{% extends '::base.html.twig' %}

{% block body %}
    {% include("BlogBundle:includes:menu.html.twig") with {'title': 'Edit post' } %}

    {{ form_start(form) }}
        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}<br>
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}<br>
        {{ form_row(form.published, {'attr': {'class': 'checkbox'}}) }}<br>

        <button type="submit" class="btn btn-success">Create post!</button>
    {{ form_end(form) }}
{% endblock %}